@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.page {
  margin-left: 120px;
  background: #e5e5e5;
  padding: 40px;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 1208px) {
  .page {
    margin-left: 0;
    border-radius: 0;
  }
}
@media (max-width: 485px) {
  .page {
    padding: 40px 20px;
  }
}

.sidebar {
  position: fixed;
  width: 120px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  color: #fff;
  padding: 70px 0;
  transition: 0.3s;
}

.sidebar svg {
  width: 50px;
  height: 50px;
  font-size: 34px;
}

.sidebar svg:hover {
  background: #fff;
  color: #0067FF;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px; /* Add margin to separate from the hamburger menu */
}

.wrapper {
  display: none;
}

.wrapper .hamburger {
  display: none;
}

@media (max-width: 1208px) {
  .sidebar {
    background: #0067FF;
    left: -100%;
  }

  .show {
    left: 0;
  }

  .wrapper {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 34px;
    background: #0067FF;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure the hamburger menu is on top */
  }

  .wrapper .hamburger {
    display: block;
  }

  .sidebar .links {
    margin-top: 80px; /* Ensure the links start below the hamburger menu */
  }
}

@media (max-width: 485px) {
  .wrapper {
    left: 20px;
  }
  
  .show {
    width: 80px;
  }
}
