@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    section{
        @apply py-[75px];
    }
}

@layer components{
    .container{
        @apply max-w-full w-[1440px] px-[6rem] mx-auto;
    }

    .btn{
        @apply bg-primaryColor py-[12px] px-[25px] rounded-[50px] text-white font-[600] mt-[38px];
    }

    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-headingColor;
    }

    .text_para{
        @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
    }

    .header{
        @apply bg-[url('./assets/images/mask.png')] bg-no-repeat bg-center bg-cover w-full h-[80px] leading-[80x];
    }

    .hero_section{
        @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-cover bg-center;
    }

    .form_label{
        @apply text-textColor font-[600] text-[14px] leading-7 mb-2;
    }

    .form_input{
        @apply text-headingColor w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none focus:border-primaryColor leading-7 placeholder:text-textColor placeholder:md:text-[16px] text-[14px] md:text-[16px] cursor-pointer rounded-md;
    }
}

@media (max-width: 1024px){
    .container{
        @apply w-full px-8;
    }

    section{
        @apply py-[35px];
    }
}

@media (max-width: 768px){
    .heading{
        @apply text-[26px] leading-[36px];
    }

    .text_para{
        @apply text-[16px] leading-7 mt-3;
    }
}